{% load django_tables2 %}
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'core/css/bootstrap.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'core/css/core.css' %}" />
	<script src="{% static 'core/js/jquery-3.1.1.min.js' %}"></script>
	<script src="{% static 'core/js/bootstrap.min.js' %}"></script>
	<title>{% block title %}Default{% endblock %}</title>
	<style type="text/css">
		td.applicationid, th.applicationid { display:none; }
	</style>
</head>
<body>
<!-- NAVBAR -->
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">ITS Service & Systemliste</a>
              <p class="navbar-brand">|&nbsp;&nbsp;{{user.username}}</p>
	    </div>
	    <ul class="nav navbar-nav navbar-right">
              <li>
	      <li><a href="http://systems.srv.aau.dk">Systems <span class="glyphicon glyphicon-chevron-right"></span></a></li>
	    </ul>
	  </div>
	</nav>
<!-- CONTENT -->
<!--
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		 {#{% block content %}{% endblock %} #}
  </div>
 -->
  <div class="col-sm-12 col-md-12 main">
		{% block content %}{% endblock %}
  </div>

</body>
</html>
